@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

:root{
    --color1: #0D2226;
    --color2: #055941;
    --color3: #0B8C68;
    --color4: #2DA657;
    --color5: #91CF59;
    --bg-white: #E7F0DE;
}

header {
    position: fixed;
    background-color: var(--color2);
    height: 4.5rem;
    width: 100vw;
    display: flex;
    
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 5.625rem;
    height: 5.625rem;
}

header .logo h1 {
    color: white;
    font: normal bold 1.25em 'DM Sans';
    margin-left: -1.2rem;
    margin-bottom: 0.4rem;
}

nav {
    display: flex;
    justify-content: center;
}

main {
    padding-top: 5rem;
}

/* MENU MOBILE */
#menu-mobile {
    position: fixed;
    top: 4.5%;
    left: 85vw;

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    margin-right: 2.5rem;
}

#menu-mobile .line {
    display: block;

    width: 18px;
    height: 2px;
    border-radius: 8px;

    margin-top: 4px;
    background-color: white;
    transition: transform .5s, opacity .25s;
}

#menu-mobile-container {
    visibility: hidden;
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    top: 4.5rem;
    width: 100vw;
    height: 50vh;

    background-color: var(--color3);
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

#menu-mobile-container li,
#menu-mobile-container li a {
    color: white;
    font: normal normal 24px 'Poppins';
}

div#dropdown {
    display: none;
    visibility: hidden;

    height: 35vh;
    width: 55vw;
    border-radius: 16px;

    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

div#dropdown::after {
    content: '';

    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);

    border: 0.5rem solid transparent;
    border-bottom-color: white;
}

div#dropdown ul {
    visibility: visible;
    display: flex;

    flex-direction: column;
    justify-content: center;

    text-align: center;
    background-color: transparent;
}

div#dropdown ul li {
    height: 1.1em;
}

div#dropdown ul li a {
    color: var(--color4);
    font: normal normal 0.6em 'Poppins';
}


/* ACTIVE */
#menu-mobile.active .line:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}
#menu-mobile.active .line:nth-child(2) {
    opacity: 0;
}
#menu-mobile.active .line:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
}

#menu-mobile-container.active {
    visibility: visible;
}

#dropdown.active{
    display: flex;
    visibility: visible;
}
