@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

:root{
    --color1: #0D2226;
    --color2: #055941;
    --color3: #0B8C68;
    --color4: #2DA657;
    --color5: #91CF59;
    --bg-white: #E7F0DE;
}

/* Header base */
header {
    position: fixed;
    background-color: var(--color2);
    height: 4.5rem;
    width: 100vw;
    display: flex;
    z-index: 99;
    
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 5.625rem;
    height: 5.625rem;
}

header .logo h1 {
    color: white;
    font: normal bold 1.25em 'DM Sans';
    margin-left: -1.2rem;
    margin-bottom: 0.4rem;
}

nav {
    display: flex;
    justify-content: center;
}

main {
    padding-top: 4.5rem;
}

/* Menu mobile */
#menu-mobile {
    position: fixed;
    top: 4vh;
    left: 85vw;

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    margin-right: 2.5rem;
}

#menu-mobile .line {
    display: block;

    width: 18px;
    height: 2px;
    border-radius: 8px;

    margin-top: 4px;
    background-color: white;
    transition: transform .5s, opacity .25s;
}

#menu-mobile-container {
    visibility: hidden;
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    top: 4.5rem;
    left: 0px;
    width: 100vw;
    height: 50%;

    background-color: var(--color3);
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

#menu-mobile-container li,
#menu-mobile-container li a {
    cursor: pointer;
    color: white;
    font: normal normal 20px 'Poppins';
    /* transition-duration: 0.5s; */
}

div#dropdown {
    display: none;
    visibility: hidden;

    height: 35vh;
    width: 55vw;
    border-radius: 32px;

    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

div#dropdown ul {
    visibility: visible;
    display: flex;

    flex-direction: column;
    justify-content: center;

    text-align: center;
    background-color: transparent;
}

div#dropdown ul li {
    height: 1.1em;
}

div#dropdown ul li a {
    color: var(--color4);
    font: normal normal 0.6em 'Poppins';
    letter-spacing: -0.055em;
    transition-duration: 0.5s;
}


/* Active classes */
#menu-mobile.active .line:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}
#menu-mobile.active .line:nth-child(2) {
    opacity: 0;
}
#menu-mobile.active .line:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
}

#menu-mobile-container.active {
    visibility: visible;
}

#dropdown.active{
    display: flex;
    justify-content: center;
    visibility: visible;
}


/* Responsivity */

/* Cleulares médios */
@media screen and (min-width: 460px) {
    #menu-mobile-container li,
    #menu-mobile-container li a {
        font: normal normal 26px 'Poppins';
    }
}

/* Celulares grandes */
@media screen and ( min-height: 750px ) and (min-width: 460px) {
    #menu-mobile {
        top: 2.5vh;
    }

    div#dropdown ul li {
        height: 1.75em;
    }
    div#dropdown ul li a {
        margin-top: 2rem;
        font: normal normal 1em 'Poppins';
    }

    #menu-mobile-container li,
    #menu-mobile-container li a {
        font: normal normal 18px 'Poppins';
    }
}

@media screen and ( min-height: 750px ) and (orientation: portrait) {
    #menu-mobile {
        top: 2.5vh;
    }

    div#dropdown ul li {
        height: 1.75em;
    }
    div#dropdown ul li a {
        margin-top: 2rem;
        font: normal normal 1em 'Poppins';
    }
}

/* Computadores pequenos */
@media screen and (min-width: 840px) {
    header {
        height: 6rem;
    }

    main {
        padding-top: 6rem;
    }

    #menu-mobile {
        display: none;
    }

    #menu-mobile-container {
        visibility: visible;
        position: relative;
        top: 0px;
        height: 4rem;
        width: 80vw;
    
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: flex-end;
        column-gap: 2rem;
    
        background-color: transparent;
        
        box-shadow: none;
    }
    
    #menu-mobile-container li,
    #menu-mobile-container li a {
        cursor: pointer;
        color: white;
        font: normal normal 1.2rem 'Poppins';
    }

    div#dropdown {
        position: fixed;
        top: 6rem;
        left: 65vw;

        height: calc(21.25rem - 6rem);
        width: 14rem;

        border-radius: 0px 0px 32px 32px;
    }
    
    div#dropdown ul {
        visibility: visible;
        display: flex;
    
        flex-direction: column;
        justify-content: center;
    
        text-align: center;
        background-color: transparent;
    }
    
    div#dropdown ul li {
        height: 2em;
    }
    
    div#dropdown ul li a {
        color: var(--color4);
        font: normal normal 1.1em 'Poppins';
    }
}

/* Animações */
ul li:hover,
ul li>a:hover {
    text-shadow: 0px 0px 16px rgba(144, 207, 89, 0.8);
    transform: scale(105%);

    transition-duration: 0.2s;
}

ul li:active,
ul li>a:active {
    transform: translateY(5px);

    transition-duration: 0.2s;
}
