@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

:root {
    --color1: #0D2226;
    --color2: #055941;
    --color3: #0B8C68;
    --color4: #2DA657;
    --color5: #91CF59;
    --bg-white: #E7F0DE;
}

body {
    background-color: var(--bg-white);
}

/* SLIDER */
.img-slider {
    width: 100vw;
    height: 60vh;
    background-size: cover;
    background-position: center center;
    background-color: #39C369;
    background-blend-mode: multiply;
    filter: blur(0.75px);
}

.img-slider.first {
    background-image: url(../img/slider/image1.png);
}

.img-slider.second {
    background-image: url(../img/slider/image2.png);
}

.img-slider.third {
    background-image: url(../img/slider/image3.png);
}

.carousel-caption {
    top: 6rem;
}

.carousel-item h3 {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 2em;
    text-shadow: 0px 1px 4px rgba(13, 34, 38, 0.75);
}

.carousel-item p {
    font-family: 'DM Sans';
    font-size: 1.5em;
    line-height: 1.5rem;
    letter-spacing: 0.015em;
    text-shadow: 0px 2px 4px rgba(13, 34, 38, 0.75);
}

/* MAIN CONTENT */
.content {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.content section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0px auto;
}

.content img {
    width: 14rem;
}

.content h2 {
    font: normal 700 2em 'DM Sans';
    text-transform: uppercase;
    letter-spacing: -0.065em;
    color: #00251B;
    text-shadow: 2px 2px 2px rgba(21, 32, 43, 0.25);
}

.content p {
    font: normal normal 1em 'DM Sans';
    line-height: 1em;
    color: #055941;
    text-shadow: 0px 2px 2px rgba(5, 89, 65, 0.25);
    text-indent: 2.5em;
}

.content button {
    background: #0B8C68;
    border: 1px solid #055941;
    box-shadow: 0px 4px 4px rgba(13, 34, 38, 0.2);
    border-radius: 32px;
    width: 9rem;
    height: 2rem;
    margin-top: 8px;
}

.content button a {
    font: normal 700 2em 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.content section.left{
    text-align: left;
    flex-direction: row-reverse;
}

.content section.right{
    text-align: right;
}